.container {
    margin: 2rem 0.5rem;
  padding: 0.25rem 0.25rem;
  font-size: 1.3rem;
  border-radius: 50px;
  background-color: #C66DFD;
  color: white;
  font-family: "Reem Kufi";
  display: flex;
  flex-direction: column;
  width: 600px;
  float: right;
    text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;

}

.container input {
  margin: 1rem 0.5rem;
  padding: 0.25rem 0.25rem;
  font-size: 1.3rem;
  border-radius: 50px;
  background-color: white;
  font-family: "Reem Kufi";
  display: flex;
  flex-direction: column;
  width: 95%;
text-align: center;
}



.container button {
  
    margin: 2rem auto;
  padding: 0.25rem 0.5rem;
  font-size: 1.3rem;
  border-radius: 50px;
  background-color: #7314AD;
  color: white;
  font-family: "Reem Kufi";
  display: flex;
  justify-content: center;

}

.pageBody {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 60vh;
}

.leftImage {
margin-bottom: 6rem;
margin-left: 6rem;
transform: rotate(-70deg);
}

.rightImage {
margin-top: 6rem;
margin-right: 6rem;
transform: rotate(-20deg);

}