.loginPage {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
}

.image {
  width: 35%;
  margin-bottom: 10%;
}

.rightSide {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.rightSide h1 {
  font-size: 5rem;
  font-family: "Ribeye Marrow";
}

.rightSide a {
  font-size: 3rem;
  font-family: "Reem Kufi";
}

.Buttons button {
  margin: 2rem 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 50px;
  background-color: #7314ad;
  color: white;
  font-family: "Reem Kufi";
}
.rightSide input {
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50px;
  background-color: #c66dfd;
  font-family: "Reem Kufi";
  color: black;
}

.rightSide input::placeholder {
  color: black;
  opacity: 1;
}

.rightSide input:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.rightSide input::-ms-input-placeholder {
  color: black;
  opacity: 1;
}
