.navbar {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
    padding: 0.5rem;
}

.student {
    display: flex;
    align-items: center;
    font-family: "Ribeye Marrow"


}

.student h1 {
    margin-left: 0.75rem;
}

.navbar img {
    max-width: 60px;
    max-height: 60px;
    
}



.navbar button {
    width: 15%;
    margin: 2rem 0.5rem;
  padding: 0.25rem 0.25rem;
  font-size: 1.3rem;
  border-radius: 50px;
  background-color: #C66DFD;
  color: white;
  font-family: "Reem Kufi";


}

.logoutbutton {
    width: 10%;
    background-color: #7314AD;

}

