.pageBody {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.rightSide {

}

.chooseAgainButton {
  
    margin: 2rem 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.3rem;
  border-radius: 50px;
  background-color: #7314AD;
  color: white;
  font-family: "Reem Kufi";
  display: flex;
  justify-content: center;

}